@font-face {
    font-family: 'Valo';
    src: url('Valorant\ Font.ttf') format('truetype'); /* For TrueType fonts */
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Valo', sans-serif;
    color: white;
    font-size: 3.5vw;
}

#Unboxing {
    font-family: 'Valo', sans-serif;
    color: #eb3d52;
    font-size: 3.5vw;
}

#boxClosed {
    width: 21vw;
    height:21vw;
    padding-top: 110px;
    text-align: center;
}

body {
    background-color:black;
    text-align: center;
    overflow: hidden; /* Disables scrolling */
    
}

/* Style the clickable image */
.image-container {
    display: inline-block;
    cursor: pointer;
}

/* Hide the checkbox input */
.toggle-video {
    display: none;
}

/* Initially hide the Video and GIF */
.video-container {
    display: none;
}

/* Show the video and GIF when the checkbox is checked */
.toggle-video:checked + .image-container + .video-container {
    display: block;
}

/* Hide image when clicked */
.toggle-video:checked + .image-container .clickable-image {
    display: none;
}

#boxOpen {
    width:450px;
    height:450px;
    text-align: center;
}

#pieces {
    width: 35vw;
    height: 35vw;
    text-align: center;
}

#assemble {
    width: 35vw;
    height: 35vw;
    text-align: center;
}

#craft {
    width: 64vw;
    height:36vw;
    text-align: center;
    padding-top: 7vw;
}

#phantom{
    width: 17vw;
    height: 59.636vw;
    position: absolute;
    left: 3vw; 
    top: 3vw;
}

#frenzy{
    width: 22.8vw;
    height: 36vw;
    position: absolute;
    right: 3vw; 
    top: 8vw;
}

/* Style for the image */
.guns {
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth animation */
    transform: scale(1); /* Default size */
    filter: brightness(1); /* Default brightness */
}

/* Hover effect */
.guns:hover {
    transform: scale(1.1); /* Slightly enlarge the image */
    filter: brightness(1.2); /* Brighten the image */
    cursor: pointer;
}

#win {
    width: 49.6vw;
    height: 34.96vw;
    text-align: center;
    padding-top: 3vw;
}

#egoGif {
    width: 56.128vw;
    height: 39.68vw;
}


